.header__links {
    display: flex;
    align-items: flex-end;
    margin: 18px 0 0 0;
    padding: 0;
}

@media screen and (max-width:518px) {
    .header__links {
        font-size: 18px;
        line-height: 20px;
    }
}