.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 148px 114px 148px;

}

@media screen and (max-width:1140px) {
    .lead {
        padding: 0 48px 114px 48px;
    }
}


@media screen and (max-width:984px) {
    .lead {
        padding: 0px 0px 110px 0px;
    }
}

@media screen and (max-width:568px) {
    .lead {
        padding: 0px 0px 86px 0px;
    }
}