.header__link {
    color: white;
    text-decoration: none;
 }

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    opacity: 0.8;
}

@media screen and (max-width:518px ) {
    .header__link {
        margin-right: 18px;
        max-width: 20px;
        max-height: 22px;
}
}

