.header__link {
    color: white;
    margin-right: 18px;
    max-width: 30px;
    max-height: 28px;
    padding-bottom: 6px;
}

.header__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width:518px ) {
    .header__link {
        margin-right: 18px;
        max-width: 20px;
        max-height: 22px;
}
}

