.header__link {
    color: white;
    text-decoration: none;
    margin-left: 18px;
 }


.header__link:hover {   
    opacity: 0.8;
}

@media screen and (max-width:518px ) {
    .header__link {
        margin-right: 18px;
        max-width: 20px;
        min-height: 22px;
}
}

