.intro {
    box-sizing: border-box;
    margin:0 0 92px 0;
    padding: 0 442px 0px 148px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 100%;
    min-height:429px;

}

@media screen and (max-width:1140px) {
    .intro {
        padding:0 286px 0px 48px;
        margin:0 0 92px 0;
    }
}

@media screen and (max-width:984px) {
    .intro {
    max-width: 720px;
    min-height:429px;
    padding:0 24px 92px 24px;
    }
}

@media screen and (max-width:568px) {
    .intro {
        max-width: 320px;
    min-height:754px;
    padding:0 16px 64px 16px;
    margin:0;
    }
}